.divHotelListAndDetails {
  background-color: rgba(0, 255, 255, 0);
  width: 348px;

  display: flex;
  position: relative;
}

.hotelListUl {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0; /* Ensure no padding that might affect the layout */
}

.hotelListUl li {
  margin-left: 0px;
  background-color: rgba(255, 183, 183, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0.17);
  height: 65px;
  display: grid;
  grid-template-columns: 80px 1fr;
  position: relative;
  cursor: pointer;
  width: 348px;
}
.hotelListUl li:hover {
  background-color: rgb(244, 244, 244);
}
.hotelListUl li:active {
  background-color: rgb(255, 255, 255);
}

.divPicture {
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}
.divPicture img {
  width: 25px;
  border: 1px solid rgba(0, 0, 0, 0.087);
  padding: 10px;
  border-radius: 50px;
  background-color: white;
}

.divHotelName {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  position: relative; /* Ensure proper positioning */
}

.textHotelName {
  margin: 0;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  width: 100%;
  position: absolute;
  top: 10px;
  left: 0; /* Ensure the text starts from the left */
  padding-right: 10px; /* Add padding to ensure text doesn't touch the edge */
}

.textHotel {
  position: absolute;
  top: 35px;
  font-size: 13px;
  color: gray;
}
